.section {
  max-width: 1360px;
  margin: 0 auto;
}

.h1 {
  padding: 59px 0 40px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px;
}

@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.skeletonGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.skeleton {
  height: 260px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.03);
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.65;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  .skeletonGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }
  .grid {
    gap: 48px;
  }
}
@media (max-width: 620px) {
  .skeletonGrid {
    grid-template-columns: 1fr;
  }
  .grid {
    margin: 0;
    padding: 0px 0px 48px 0px;
  }
}

@media (max-width: 1440px) {
  .h1 {
    padding: 40px 10px 30px;
  }
}
