.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 16px;
}

.modal {
  width: min(520px, 100%);
  height: 427px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: inherit;
  color: #111;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  gap: 12px;
}

.close {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.field {
  display: grid;
}

.input {
  width: 440px;
  height: 51px;
  border-radius: 10px;
  border: 1px solid var(--black);
  padding: 0 12px;
  outline: none;
}
.input::placeholder {
  opacity: 50%;
}

.inputError {
  border-color: rgba(255, 0, 0, 0.55);
}

.err {
  font-size: 12px;
  color: rgb(176, 0, 32);
}

.submit {
  justify-self: start;
  background-color: white;
  color: var(--black);
  border: none;

  &::after {
    background: white !important;
  }
}

.agree {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.agree input {
  display: none;
}

.checkboxWrap {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
  padding: 1px;
}

.agree :not(input:checked) + .checkboxWrap::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: white;
}

.agree input:checked + .checkboxWrap::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.agreeMessage {
  opacity: 50%;
}

@media (max-width: 520px) {
  .overlay {
    padding: 0;
    place-items: stretch;
  }
  .modal {
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 80px 20px 0 20px;
    box-shadow: none;
    justify-content: start;
    gap: 20px;
  }

  .top,
  .input {
    width: 100%;
    max-width: 440px;
  }

  .close {
    font-size: 32px;
  }
}
