:root {
  --text: #fff;
  --black: #0f0f17;

  --accent1: #fb8627;
  --accent2: #f5bef6;
}

.highlightedButton {
  position: relative;
  // width: 179px;
  // height: 45px;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background: black !important;
  color: var(--text);
  cursor: pointer;
  transition: 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    background: linear-gradient(180deg, var(--accent1), var(--accent2));
    border-radius: 40px;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: inherit;
    border-radius: 40px;
    z-index: 200;
  }
}
.highlightedButton .absolute {
  margin: auto;
  position: absolute;
  z-index: 500;
  top: 50%;
  transform: translateY(-50%);
}

.highlightedButton:hover {
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
}

@media (max-width: 360px) {
  .highlightedButton {
    padding: 10px 12px;
    font-size: 13px;
  }
}
