@mixin type($size, $weight, $lh, $transform: none) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: 0;
  text-transform: $transform;
}

.t-h1 {
  @include type(40px, 600, 110%, uppercase);
}
.t-h2 {
  @include type(24px, 600, 110%, uppercase);
}
.t-h3 {
  @include type(20px, 600, 110%, uppercase);
}
.t-h4 {
  @include type(16px, 600, 110%, uppercase);
}

.t-text {
  @include type(16px, 400, 130%);
}
.t-link {
  @include type(16px, 500, 130%);
}
.t-caption {
  @include type(12px, 500, 130%, uppercase);
}

$bp-desktop: 1440px;

.t-news-list-header,
.t-news-title {
  // h2
  @include type(24px, 600, 110%, uppercase);

  // h1
  @media (min-width: $bp-desktop) {
    @include type(40px, 600, 110%, uppercase);
  }
}

.t-news-card-title,
.t-contact-header,
.t-footer {
  // h3
  @include type(20px, 600, 110%, uppercase);

  // h2
  @media (min-width: $bp-desktop) {
    @include type(24px, 600, 110%, uppercase);
  }
}

.t-link:hover {
  opacity: 50%;
}
