@mixin type($size, $weight, $lh, $transform: none) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: 0;
  text-transform: $transform;
}

.t-h1 {
  @include type(40px, 600, 110%, uppercase);
}
.t-h2 {
  @include type(24px, 600, 110%, uppercase);
}
.t-h3 {
  @include type(20px, 600, 110%, uppercase);
}
.t-h4 {
  @include type(16px, 600, 110%, uppercase);
}

.t-text {
  @include type(21px, 400, 130%);
} 
.t-link {
  @include type(16px, 500, 130%);
}
.t-caption {
  @include type(12px, 500, 130%, uppercase);
}

.p-space-10 > * + * {
  margin-top: 10px;
}
