.button {
  position: relative;
  width: 179px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background: black;
  color: var(--text);
  cursor: pointer;
  transition: 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    background: linear-gradient(180deg, var(--accent1), var(--accent2));
    border-radius: 40px;
    z-index: -1;
  }
}
.button span {
  margin: auto;
}

.button:hover {
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
}

@media (max-width: 360px) {
  .button {
    padding: 10px 12px;
    font-size: 13px;
  }
}
