@use "../styles/typography";
@use "../styles/colors";
@use "../styles/buttons";

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text);
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}
