.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(var(--black));

  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 119px;
}

.inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrap {
  position: relative;
  width: 70px;
  height: 84px;
}

@media (max-width: 768px) {
  .logoWrap {
    width: 43.65px;
    height: 52.13px;
  }
  .header {
    height: 83px;
  }
}

@media (max-width: 1440px) {
  .header {
    padding: 0 10px;
  }
}
