.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(10, 11, 16, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--line);
  height: 119px;
  margin-bottom: 20px;
}

.inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
