.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(10, 11, 16, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--line);
  height: 119px;
  margin-bottom: 20px;
}

.inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 360px) {
  .cta {
    padding: 10px 12px;
    font-size: 13px;
  }
}

.cta {
  position: relative;
  width: 179px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background: black;
  color: var(--text);
  cursor: pointer;
  transition: 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    background: linear-gradient(180deg, var(--accent1), var(--accent2));
    border-radius: 40px;
    z-index: -1;
  }
}
.cta span {
  margin: auto;
}

.cta:hover {
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
}
