.footer {
  height: 248px;
  margin-top: 126px;
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
  padding: 95px 40px;
  color: var(--text);
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 103px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}

.logoBox {
  position: relative;
  width: 103px;
  height: 124px;
  flex: 0 0 auto;
}

.logo {
  object-fit: contain;
}

.caption {
  max-width: 520px;
}
.spacer {
  width: 1px;
  height: 1px;
}

@media (max-width: 768px) {
  .footer {
    height: 431px;
    padding: 95px 16px 40px;
    margin-top: 80px;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: min(191px, 100%);
    margin: 0 auto;
    padding-right: 0;
    text-align: center;
    gap: 30px;
  }

  .brand {
    flex-direction: column;
    gap: 30px;
  }

  .logoBox {
    width: 120px;
    height: 144px;
  }
}
