.footer {
  height: 248px;
  margin-top: 80px;
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
  padding: 95px 40px;
}

.inner {
  max-width: 1360px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-right: 103px;
}

.img {
  color: white;
}

.logoWrap {
  position: relative;
  width: 103px;
  height: 124px;
}

@media (max-width: 768px) {
  .logoWrap {
    width: 120px;
    height: 144px;
    margin-bottom: 30px;
  }
  .inner {
    flex-direction: column;
    width: 191px;
    margin: auto;
    padding: 0;
    text-align: center;
    height: 240px;
    justify-content: start;
  }

  .footer {
    height: 431px;
  }
}
