.card {
  display: grid;
  grid-template-rows: 300px auto;
  border: 1px solid transparent;
  // background: rgba(255,255,255,0.03);
  // border-radius: 10px;
  overflow: hidden;
  transition: transform 0.15s ease, border-color 0.2s ease;
  gap: 20px;
}

.card:hover {
  // transform: translateY(-2px);
  border-color: rgba(255, 255, 255, 0.1);
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
}

.body {
  display: grid;
  gap: 10px;
}

.title {
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 24px;
}

.excerpt {
  font-size: 16px;
  line-height: 1.3;
  color: var(--muted);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.date {
  font-size: 16px;
  color: rgba(255, 255, 255);
  line-height: 1.3;
  font-weight: 400;

}
