.card {
  display: grid;
  grid-template-rows: 300px auto;
  border: 1px solid transparent;
  overflow: hidden;
  transition:
    transform 0.15s ease,
    border-color 0.2s ease;
  gap: 20px;
}

.card:hover {
  // border-color: rgba(255, 255, 255, 0.1);
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
}

.body {
  display: grid;
  gap: 10px;
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 50%;
  height: 63px;
}

@media (max-width: 980px) {
  .title,
  .summary,
  .date {
    margin: 0 20px 0 10px;
  }
  .card {
    grid-template-rows: 218px auto;
  }

  .imgWrap {
    height: 218px;
  }
}
