.card {
  display: grid;
  grid-template-rows: 300px auto;
  border: 1px solid transparent;
  overflow: hidden;
  gap: 20px;
  transition: 0.2s ease;
}

.card:hover .title {
  background-image: linear-gradient(180deg, var(--accent1), var(--accent2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
}

.body {
  display: grid;
  gap: 10px;
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 50%;
  height: 63px;
}

@media (max-width: 980px) {
  .title,
  .summary,
  .date {
    margin: 0 20px 0 10px;
  }
  .card {
    grid-template-rows: 218px auto;
  }

  .imgWrap {
    height: 218px;
  }
}
