.page {
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(10, 11, 16, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--line);
}

.headerInner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  max-width: 1360px;
  margin: 78px auto 0;
  padding: 22px 20px 10px;
}

.card {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 24px;
  align-items: start;
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 320px;
  //   border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
}

.img {
  object-fit: cover;
}

.content {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 860px) {
  .card {
    grid-template-columns: 1fr;
  }
  .imgWrap {
    height: 220px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 18px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date {
  opacity: 50%;
}